.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(255, 238, 218);
}

.App-header {
  background-color: #b6ad92;
  color: rgb(255, 189, 6);
  font-variant: small-caps;
  font-size: 18px;
  border: 1px solid #5c574a;
  border-radius: 2px;
  width: 100%;
  text-align: center;
}

.inputForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid rgb(255, 155, 41);
  flex-grow: 1;
}

.sendButton {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgb(255, 155, 41);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}
