.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgb(255, 238, 218);
}

.App-header {
  background-color: #b6ad92;
  color: rgb(255, 189, 6);
  font-variant: small-caps;
  font-size: 18px;
  border: 1px solid #5c574a;
  border-radius: 2px;
  width: 100%;
  text-align: center;
}

.inputForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid rgb(255, 155, 41);
  flex-grow: 1;
}

.sendButton {
  padding: 5px 10px;
  font-size: 16px;
  background-color: rgb(255, 155, 41);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

.message-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.message-content {
  display: inline-block;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}

.message-content > .username {
  display: block;
  color: rgb(2, 2, 2);
  font-size: 14px;
  padding-bottom: 4px;
}

.message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: rgb(218, 154, 154);
  color: rgb(51, 50, 48);
  display: inline-block;
  min-width: 150px;
}

.currentMember > .message-content .text {
  background-color: rgba(252, 158, 81, 0.664);
  text-align: left;
}
